.about {
  padding-top: 35px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 6px;
  background-position: left top;
  background-repeat: repeat-x;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    background-size: auto 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 87px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1052px 23px;
  }
}

.about__container {
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0 80px 0 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 707px;
    padding: 0;
    margin: 0 auto;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 3px;
  @include text("Open Sans Bold", 25px, 30px, $text-black);

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  margin: 0;
}
