.about__container {
  position: relative;
  padding: 35px 25px 0;

  @media (min-width: $tablet-width) {
    padding: 63px 80px 0 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 0;
    padding-top: 87px;
    margin: 0 auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 6px;
    background-position: center top;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 15px;
      background-size: 768px 15px;
      transform: rotate(180deg);
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
    }
  }
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 3px;

  @include text("Open Sans Bold", 25px, 30px, $text-black);

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 707px;
    margin: 0 auto 47px;
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  margin: 0;
}
