.about {
  padding-top: 35px;


  @media (min-width: $tablet-width) {
    padding-top: 68px;
    background-size: auto 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 87px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 320px;
    height: 6px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-size: 320px 6px;
    background-position: center top;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 15px;
      background-size: 768px 15px;
      transform: rotate(180deg);
    }

    @media (min-width: $desktop-width) {
      left:50%;
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
      transform: translateX(-50%) rotate(180deg);
    }
  }
}

.about__container {
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0 80px 0 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 707px;
    padding: 0;
    margin: 0 auto;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 3px;
  @include text("Open Sans Bold", 25px, 30px, $text-black);

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  margin: 0;
}
