.about-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    max-width: 707px;
    margin: 0 auto;
  }
}

.about-list__item {
  width: 265px;

  @media (min-width: $tablet-width) {
    width: 309px;
  }
}

.about-list__item:nth-child(odd) {
  .about-list__item-text {
    max-width: 205px;

    @media (min-width: $tablet-width) {
      max-width: 235px;
    }
  }
}

.about-list__item:nth-child(even) {
  order: 1;


  @media (min-width: $tablet-width) {
    order: 0;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
  }

  .about-list__item-text {
    max-width: 250px;

    @media (min-width: $tablet-width) {
      max-width: 295px;
    }
  }
}

.about-list__item:not(:last-child) {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.about-list__item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 55px;
  min-height: 37px;
  margin: 0;
  margin-bottom: 19px;
}

.about-list__item-icon {
  fill: $deco-light;
}

.about-list__item-text {
  display: block;
  padding: 0 5px;

  @include text ("Open Sans Bold", 17px, 20px, $text-black);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
