.categories-list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.categories-list__item {
  width: 100%;
  max-width: 335px;

  @media (min-width: $tablet-width) {
    width: calc(50% - 50px);
    max-width: 525px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    max-width: 525px;
  }

  &:nth-child(odd) .categories-list__link {
    background-color: $deco-light;
  }

  &:nth-child(even) .categories-list__link {
    background-color: $deco-middle;
  }
}

.categories-list__link {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  min-height: 103px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 27px 28px;
  }

  &:hover {
    margin-top: -5px;
    min-height: 108px;

    @media (min-width: $tablet-width) {
      min-height: 124px;
    }
  }

  &:active {
    .categories-list__link-text {
      opacity: 0.3;
    }

    .categories-list__link-icon {
      opacity: 0.3;
    }
  }
}

.categories-list__link-text {
  max-width: 115px;
  padding-left: 3px;
  padding-bottom: 5px;
  @include text ("Open Sans Bold", 19px, 24px, #ffffff);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 8px;
    padding-bottom: 5px;
  }
}

.categories-list__link-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 65px;
  min-height: 65px;
  margin: 0;
}

.categories-list__link-icon {
  fill: $deco-dark;
}
