.contacts {
  padding: 42px 15px 38px;

  @media (min-width: $tablet-width) {
    max-width: 660px;
    padding: 76px 88px 56px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 300px;
  }
}

.contacts__container {
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__title {
  @include text ("Open Sans Bold", 18px, 30px, $text-black);
  margin: 0;
  margin-bottom: 26px;
  padding: 0 12px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    margin-left: -5px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__icon {
  content: "";
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -15px;
    right: -35px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    right: auto;
    left: -110px;
  }
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.contacts__line {
  display: flex;
  max-width: 280px;
  margin: 0;
  padding: 0 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 50%;
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;
  }
}

.contacts__line:not(:last-child) {
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.contacts__line-title {
  display: block;
  min-width: 46px;
  margin-right: 32px;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}

.contacts__line-link {
  display: block;
  max-width: 185px;
  text-decoration: none;
  color: $text-grey;
  border-bottom: 1px solid #46c1ae;

  @media (min-width: $tablet-width) {
    max-width: 225px;
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(70, 193, 174, 0.1);
  }
}

.contacts__line-text {
  display: block;
  max-width: 185px;

  @media (min-width: $tablet-width) {
    max-width: 225px;
  }
}
