.events-list {
  display: none;

  @media (min-width: $desktop-width) {
    @include list-reset;
    display: flex;
    padding: 15px 0;
  }
}

.events-list__item:not(:first-child) {
  margin-left: 62px;
}

.events-list__link {
  @include link ("Open Sans Bold", 15px, 24px, $text-black);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
