.functions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    max-width: 400px;
    height: 88px;
  }

  @media (min-width: $desktop-width) {
    max-width: 450px;
  }
}

.functions--hide {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.functions__item {
  width: 100%;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: auto;
  }
}

.functions__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 25px 30px 28px;
  border: 1px solid #ececec;
  @include link ("Open Sans Bold", 17px, 24px, $text-black);

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    border-left: 1px solid #ececec;
  }

  &:hover {
    .functions__link-icon {
      fill: $deco-light;
      opacity: 1;
    }

    .functions__link-text {
      opacity: 0.6;
    }
  }

  &:active {
    .functions__link-icon {
      fill: $deco-light;
      opacity: 0.3;
    }

    .functions__link-text {
      opacity: 0.3;
    }
  }
}

.functions__link--search {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 84px;
    justify-content: center;
  }

  .functions__link-text {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.functions__link--cart {
  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }
}

.functions__link-icon {
  position: absolute;
  top:50%;
  left: 30px;
  transform:  translateY(-50%);
  opacity: 0.2;
}

.functions__link-text {
  margin: 0;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 52px;
  }

}
