.map {
  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.map__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  max-width: 100%;
  height: auto;
  z-index: -1;

  @media (min-width: $desktop-width) {
    left: 0;
    transform: none;
  }
}

.map__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-98%);
  z-index: 1;
}
