.product {
  width: 260px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 670px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}

.product__image {
  width: 260px;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    width: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}

.product__info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 260px;
  max-height: 204px;
  padding: 26px 27px 21px;
  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    width: 335px;
    max-height: 100%;
    padding: 24px 27px 21px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 197px;
    padding: 24px 25px 21px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 5px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    max-width: 245px;
  }
}

.product__title-link {
  @include link("Open Sans Bold", 17px, 24px, $text-black);

  @media (min-width: $tablet-width) {
    font-size: 20px
  }
}

.product__description {
  height: 49px;
  margin: 0;
  font-size: 13px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.product__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  border-top: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    padding: 21px 5px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 5px 0 0;
  }
}

.product__cost {
  @include text("Open Sans Bold", 15px, 24px, $text-black);

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
