.promo-video {
  box-sizing: border-box;
  max-width: 520px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    max-width: 370px;
    padding: 44px 57px 60px 78px;
    height: 455px;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.promo-video__title {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;
  margin: 22px 33px 24px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin: 0 39px 32px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 33px;
  }
}

.promo-video__title-icon {
  fill: $deco-light;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-right: 33px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 28px 2px;
  }
}

.promo-video__title-text {
  max-width: 137px;

  @include text("Open Sans Bold", 17px, 24px, $text-black);

  @media (min-width: $tablet-width) {
    max-width: 100%;
    flex-grow: 1;
    font-size: 20px;
  }
}

.promo-video__image-link {
  position: relative;
  display: block;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: -682px;
    margin: 0;
  }
}

.promo-video__image {
  vertical-align: middle;
}

.promo-video__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.promo-video__description {
  max-width: 192px;
  margin: 0 30px 23px;

  @include text("Open Sans", 13px, 24px, $text-grey);

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin: 0 40px 35px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    margin-bottom: 45px;
    line-height: 30px;
  }
}

.promo-video__order-link {
  box-sizing: border-box;
  width: 100%;
  max-width: 192px;
  margin: 0 30px 30px;
  padding: 16px 18px;

  @include link("Open Sans Bold", 17px, 17px, $text-grey);
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin: 0 41px 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 3px;
  }

  &:hover {
    color: #ffffff;
    background-color: $text-grey;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $text-grey;
  }
}
