.reviews {
  @media (min-width: $tablet-width) {
    padding: 76px 50px 50px;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-position: left top;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
    (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 68px 0 92px;
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    max-width: 875px;
    margin: 0;
    margin-left: auto;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  @include text("Open Sans Bold", 25px, 30px, $text-black);

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__paginator {
  width: 260px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 175px;
    margin: 0;
  }
}

.reviews__link {
  box-sizing: border-box;
  display: block;
  align-self: center;
  min-width: 260px;
  margin: 0 auto;
  padding: 14px 0;
  @include link ("Open Sans Bold", 18px, 20px, $text-grey);
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 3px;
    right: 0;
    min-width: 175px;
  }

  @media (min-width: $desktop-width) {
    top: 9px;
  }

  &:hover {
    color: #FFFFFF;
    background-color: $text-grey;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
