.reviews-list {
  @include list-reset;
}

.reviews-list__item--hide {
  display: none;
}

.reviews-list__item-text {
  margin: 0;
  margin-bottom: 24px;
  height: 270px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: $tablet-width) {
    height: 120px;
    max-width: 645px;
    margin-bottom: 58px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    max-width: 780px;
    margin-bottom: 8px;
  }

  br {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}

.reviews-list__item-person {
  margin: 0;
}

.reviews-list__item-person-name {
  max-width: 260px;
  margin-bottom: 13px;

  @include text ("Open Sans Bold", 17px, 24px, $text-black);

  @media (min-width: $tablet-width) {
    display: block;
    max-width: 400px;
    margin-bottom: 3px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews-list__item-person-adress {
  display: inline;
  font-size: 17px;
  color: $text-grey;
  text-decoration: none;
}
