.services-list {
  display: none;

  @media (min-width: $tablet-width) {
    @include list-reset;
    display: flex;
  }
}

.services-list__link {
  @include link ("Open Sans", 15px, 24px, $text-grey);

  &:hover {
    color:$text-black;
  }

  &:active {
    opacity: 0.3;
  }
}
