.week-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: block;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    max-width: 875px;
    margin-left: auto;
  }
}

.week-card__title {
  position: relative;
  width: 260px;
  margin: 0;
  margin-bottom: 47px;

  @include text("Open Sans Bold", 23px, 30px, $text-black);

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 48px;
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
    font-size: 53px;
    line-height: 57px;
  }

  &::after {
    position: absolute;
    bottom: -80%;
    left: 0;
    content: "Товар недели";

    @include text("Open Sans Bold", 17px, 20px, $deco-light);
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet-width) {
      top: 57%;
      left: auto;
      right: 28px;
      bottom: auto;
      transform: translateY(-50%);
      width: 70px;
      font-size: 17px;
      line-height: 17px;
    }

    @media (min-width: $desktop-width) {
      right: auto;
      left: -130px;
    }
  }
}

.week-card__description {
  max-width: 260px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    max-width: 292px;
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.week-card__params {
  width: 260px;
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 107px;
  }
}

.week-card__params-line {
  border-bottom: 1px solid #ececec;
}

.week-card__params-title {
  min-width: 80px;
  padding: 10px 0 9px;

  @media (min-width: $tablet-width) {
    min-width: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 11px;
  }
}

.week-card__image {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    z-index: -1;
  }
}

.week-card__price {
  width: 260px;
  margin: 0;
  margin: 0 0 25px;

  @include text("Open Sans Bold", 17px, 24px, $text-grey);
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-bottom: 34px;
    font-size: 21px;
  }
}

.week-card__order-link {
  box-sizing: border-box;
  display: block;
  align-self: center;
  min-width: 260px;
  padding: 14px 0;

  @include link ("Open Sans Bold", 18px, 20px, $text-grey);
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;

  @media (min-width: $tablet-width) {
    max-width: 292px;
  }

  &:hover {
    color: #FFFFFF;
    background-color: $text-grey;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
