.week-product {
  padding: 27px 30px 35px;

  @media (min-width: $tablet-width) {
    padding: 45px 50px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 50px 70px;
    background-size: auto 23px;
  }

  &::before {
    content: "";

    @media (min-width: $tablet-width) {
      position: absolute;
      top: -12px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 24px;
      background-position: left top;
      background-repeat: repeat-x;
    }

    @media (min-width: $desktop-width) {
      top: -17px;
      height: 34px;
      background-size: auto 34px;
    }
  }
}

.week-product__container {
  @media (min-width: $tablet-width) {
    max-width: 668px;
    position: relative;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}
