/*Медиа-размеры экранов*/
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*-----Цветовая палитра-----*/

$text-grey: #444444;
$text-black: #000000;

$deco-light:#63d1bb;
$deco-middle:#56c3b2;
$deco-dark:#149080;
