.contact-link {
  box-sizing: border-box;
  display: block;
  max-width: 260px;
  padding: 13px;

  @include link ("Open Sans Bold", 18px, 20px, $text-grey);
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;

  @media (min-width: $tablet-width) {
    max-width: 230px;
  }

  &:hover {
    color: #FFFFFF;
    background-color: $text-grey;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
