.copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 181px;
  padding: 13px 15px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-width: 185px;
    padding: 0;
  }

  &:active {
    .copyright-link__text {
      opacity: 0.3;
    }

    .copyright-link__icon {
      opacity: 0.3;
    }
  }
}

.copyright-link__text {
  @include text("Open Sans Bold", 19px, 19px, $text-black);
}

.copyright-link__icon {
  fill: $deco-light;
}
