.btn-menu {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.btn-menu--open {
  &::before {
    content: url("../img/icon-menu-open.svg");
    display: block;
    width: 20px;
    height: 14px;
  }
}

.btn-menu--close {
  &::before {
    content: url("../img/icon-menu-close.svg");
    display: block;
    width: 21px;
    height: 20px;
  }
}

.btn-menu--hidden {
  display: none;
}
