.btn-menu-close {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.btn-menu-close--hidden {
  display: none;
}
